.feedWrap {
    width: 600px;
    border: solid 1px #dbdbdb;
    margin-bottom: 60px;
    background-color: white;
}

.upper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
}

body {
    line-height: 25px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    
}

.feedWholeWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}