
.feedImg {
    position: relative;
    img {
        width: 600px;
        height: 600px;
    }
    .buttonSet {
        button {
            border-radius: 50%;
            border-style: none;
            background-color: white;
            height: 30px;
            width: 30px;
        }
    }
}



.nextButton {
    position: absolute;
    top: 50%;
    right: 10px;
}

.preButton {
    position: absolute;
    top: 50%;
    left: 10px;
}