.tagImg{
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
    .canvas{
        width: 293px;
        height: 293px;
        overflow: hidden;
        position: relative;
    }
    img{
        width: 150%;
    }
}